@import "tailwindcss";

.border-custom {
  @apply border-2 border-solid border-black;
}

.footer {
  background-image: url("file:///D:/Downloads/wave.svg");
}

.cream-color {
  background-color: #fffdd0;
}
.cream-color2 {
  background-color: #fffffd;
}

.cards {
  box-shadow: 0px 8px 22px -9px rgb(66, 68, 90);
  padding: 41px 50px 48px;
  border-radius: 12px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card-background {
  /* background-image: url("https://thumbs.dreamstime.com/b/blurry-view-city-traffic-pedestrians-342704021.jpg"); */
  background-image: url("./images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire div */
  background-position: center; /* Center the image */
  width: 100%; /* Ensures full width */
}
